<a href="https://colab.research.google.com/github/visiont3lab/test-data-visualization/blob/master/notebook/Github_GoogleDrive_GoogleColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Github-GoogleDrive-GoogleColab Setup

0. GoogleDrive: Andare su Google Drive creasi una cartella chiamata "data_visualization". Create un nuovo google colab file oppure aprite un Google-Colab del corso [data-visualization](https://github.com/visiont3lab/data-visualization), salvatelo e spostatelo in questa cartella.
1. Github: Andare su [Github](https://github.com/) e creare un account 
2. Github: Creare un repository chiamato "seaborn-data-visualization" e creare un README.md di default.
3. GoogleColab: Editare il seguent notebook aggiugendo codice o commenti.
4. GoogleColab: Salvare il contenuto su Git (Save a Copy in Github)
5. Github: Creare un file index.html con scritto dentro "Test" . Questa sarà la nostra pagine web di partenza. Più informazioni a  [Github Web Pages](https://pages.github.com/).
6. Github: Vai su settings e cerchimao "Github Pages". Lo abilitiamo scegliendo "master-branch. Possiamo anche scegliere un tema nella sezione "Theme Choser".
Dovrebbe essere comparso sotto "Github Pages"
> Your site is ready to be published at https://visiont3lab.github.io/seaborn-data-visualization/.
7. GoogleColab: Convertire notebook (ipynb) in html e scaricalo localmente
8. Github: Caricare il file html scaricato su Github. Importare è che il nome del file sia "index.html"

## Convertire un notebook (ipynb) contenuto in un repository GIT (Github) in html

In [0]:
!git clone https://github.com/visiont3lab/seaborn-data-visualization.git

Cloning into 'seaborn-data-visualization'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 9 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), done.

In [0]:
%cd seaborn-data-visualization/
!ls

/content/seaborn-data-visualization
Github_GOOGLEColab.ipynb  index.html  README.md

In [0]:
#jupyter nbconvert --to <output format> <filename.ipynb>
!jupyter nbconvert --to html Github_GOOGLEColab.ipynb
!ls

[NbConvertApp] Converting notebook Github_GOOGLEColab.ipynb to html
[NbConvertApp] Writing 274084 bytes to Github_GOOGLEColab.html
Github_GOOGLEColab.html  Github_GOOGLEColab.ipynb  index.html  README.md

## Convertire un notebook (ipynb) contenuto in un repository GOOGLE DRIVE in html

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [4]:
%cd /content/gdrive/My Drive/Colab Notebooks/test-data-visualization
!ls

/content/gdrive/My Drive/Colab Notebooks/test-data-visualization
database_general.xlsx  Github-GoogleDrive-GoogleColab.ipynb
fd.ipynb	       Seaborn.ipynb

In [9]:
!pip install pandoc

Collecting pandoc
  Downloading https://files.pythonhosted.org/packages/49/b1/d2d4b30ee81ea5cb7aee5ba3591752a637fdc49d0a42fa9683874b60b9fb/pandoc-1.0.2.tar.gz (488kB)
     |████████████████████████████████| 491kB 4.6MB/s
Collecting ply
  Downloading https://files.pythonhosted.org/packages/a3/58/35da89ee790598a0700ea49b2a66594140f44dec458c07e8e3d4979137fc/ply-3.11-py2.py3-none-any.whl (49kB)
     |████████████████████████████████| 51kB 6.2MB/s
Building wheels for collected packages: pandoc
  Building wheel for pandoc (setup.py) ... done
  Created wheel for pandoc: filename=pandoc-1.0.2-cp36-none-any.whl size=19993 sha256=a6ebed7946575cc5c99b4c354c7d53675acf4cddc1ceaa63ecbd62073e18aa23
  Stored in directory: /root/.cache/pip/wheels/d1/e8/71/bc3242b3e8f119c62eebdb0dee519fd40ac293e4835839db7c
Successfully built pandoc
Installing collected packages: ply, pandoc
Successfully installed pandoc-1.0.2 ply-3.11

In [6]:
import pandas as pd
df = pd.read_excel("database_general.xlsx")
df.head()

   ID  age  d.o.b.     name  ... WTW CCT  Implanted IOL R. Residua
0   1   71    4019  patient  ... NaN NaN           23.5        NaN
1   2   55    4020  patient  ... NaN NaN           18.5        NaN
2   3   81    4021  patient  ... NaN NaN           20.5        NaN
3   4   81    4022  patient  ... NaN NaN           20.0        NaN
4   5   86    4023  patient  ... NaN NaN           22.5        NaN

[5 rows x 23 columns]

In [11]:
#jupyter nbconvert --to <output format> <filename.ipynb>
!jupyter nbconvert --to html Seaborn.ipynb --output index.html
!ls

[NbConvertApp] Converting notebook Seaborn.ipynb to html
[NbConvertApp] Writing 1262997 bytes to index.html
database_general.xlsx  Github-GoogleDrive-GoogleColab.ipynb  my.html
fd.ipynb	       index.html			     Seaborn.ipynb